<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="noReplyEmail" value="" />
    <add key="port" value="25" />
    <add key="smtpClient" value="smtp.gmail.com" />
    <add key="emailFrom" value="" />
    <add key="emailUsername" value="" />
    <add key="emailPassword" value="" />
    <add key="error_mail_recipient" value="" />
    <add key="spExportReportDirectory" value="C:\spExportReport" />
    <add key="reportMailDirectory" value="ReportMail" />
    <add key="zipReportMailDirectory" value="ZipReportMail.zip" />
    <add key="reportFtpDirectory" value="ReportFtp" />
    <add key="zipReportFtpDirectory" value="ZipReportFtp.zip" />
    <add key="serilog:minimum-level" value="Warning" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="LogData\log.txt" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="20000000" />
  </appSettings>
  <connectionStrings>
    <add name="sendaboxSql" connectionString="Data Source=XXX;Initial Catalog=XXX;Persist Security Info=True;User Id=sa;Password=XXX;Connection Timeout=30" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>